:root {
    --color-primary: #2a9d8f;
    --color-primary-hover: #2fb1a2;
    --color-primary-active: #279185;

    --color-secondary: #e76f51;
    --color-secondary-hover: #eb886f;
    --color-secondary-active: #e76a4b;

    --color-accent: #f4a261;

    --color-neutral: #e4e4e7;

    --color-danger: red;
    --color-warning: #e9c46a;
    --color-success: green;

    --border-radius-primary: 4px;
    --border-radius-secondary: 16px;
}

.oasis-theme {
    --color-primary: #2a9d8f;
    --color-primary-hover: #33c1b1;
    --color-primary-active: #2fb1a2;

    --color-secondary: #e76f51;
    --color-secondary-hover: #ee9781;
    --color-secondary-active: #eb8369;

    --color-accent: #f4a261;

    --color-neutral: #e4e4e7;

    --color-danger: red;
    --color-warning: #e9c46a;
    --color-success: green;

    --border-radius-primary: 4px;
    --border-radius-secondary: 16px;
}

.reef-theme {
    --color-primary: #1d3557;
    --color-primary-hover: #24416b;
    --color-primary-active: #192f4d;

    --color-secondary: #e63946;
    --color-secondary-hover: #e94957;
    --color-secondary-active: #e42535;

    --color-accent: #e87347;

    --color-neutral: #f1faee;

    --color-danger: red;
    --color-warning: #e9c46a;
    --color-success: green;

    --border-radius-primary: 4px;
    --border-radius-secondary: 16px;
}

.commando-theme {
    --color-primary: #d62828;
    --color-primary-hover: #dc4141;
    --color-primary-active: #cf2626;

    --color-secondary: #003049;
    --color-secondary-hover: #004266;
    --color-secondary-active: #00283d;

    --color-accent: #f77f00;

    --color-neutral: #eae2b7;

    --color-danger: red;
    --color-warning: #eeab00;
    --color-success: green;

    --border-radius-primary: 4px;
    --border-radius-secondary: 16px;
}

.chocolate-theme {
    --color-primary: #432818;
    --color-primary-hover: #5a3620;
    --color-primary-active: #3c2416;

    --color-secondary: #6f1d1b;
    --color-secondary-hover: #832120;
    --color-secondary-active: #631918;

    --color-accent: #99582a;

    --color-neutral: #ffe6a7;

    --color-danger: red;
    --color-warning: #eeab00;
    --color-success: green;

    --border-radius-primary: 4px;
    --border-radius-secondary: 16px;
}
